.container
  // padding 10px

.navbar
  position sticky
  top 0
  z-index 1000

.homeIcon
  cursor pointer !important
  padding-right 10px !important

.image-profile
  margin-top 5px
  border-radius 50%
  height 65%
  box-shadow #fff 0px 0px 5px 2px
  background #fff

mat-sidenav
  width 200px
  cursor pointer
  background #14247e
  position fixed 
  top 63px
  z-index 1000

@media screen and (max-width:600px)
  mat-sidenav
    top 55px

  // .image-profile
  //   display none

.mat-list-base .mat-list-item, a
  color #ffffff
  text-decoration none
  cursor pointer