.login-fondo
  position: absolute;
  top: 0;
  bottom: 0;
  height 100%
  width 100%
  background #004998 
  background -moz-linear-gradient(45deg,  #004998 0%, #0084b5 50%, #5dbdd3 100%) 
  background -webkit-linear-gradient(45deg,  #004998 0%,#0084b5 50%,#5dbdd3 100%)
  background linear-gradient(45deg,  #004998 0%,#0084b5 50%,#5dbdd3 100%) 
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004998', endColorstr='#5dbdd3',GradientType=1 )
  padding 0px
  display flex
  justify-content center
  align-items center
  
:host
  display flex
  justify-content: center
  // margin: 100px 0

.mat-form-field
  width: 100%
  min-width: 280px

mat-card-title,
mat-card-content
  display: flex
  justify-content: center

button 
  width 100%