<div class="login-fondo">



<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
      <span *ngIf="auth.loggedIn | async">logueado</span>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
          <p>
              <mat-form-field>
                  <input type="text" matInput placeholder="Username" formControlName="Usuario" >
              </mat-form-field>
          </p>
          <p>
              <mat-form-field>
                  <input type="password" matInput placeholder="Password" formControlName="Clave" >
              </mat-form-field>
          </p>
          <button type="submit" mat-raised-button color="primary" >Login</button>
      </form>
  </mat-card-content>
  </mat-card>
</div>