.fondo-degradado
  height 100%
  width 100%
  background #004998 
  background -moz-linear-gradient(45deg,  #004998 0%, #0084b5 50%, #5dbdd3 100%) 
  background -webkit-linear-gradient(45deg,  #004998 0%,#0084b5 50%,#5dbdd3 100%)
  background linear-gradient(45deg,  #004998 0%,#0084b5 50%,#5dbdd3 100%) 
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004998', endColorstr='#5dbdd3',GradientType=1 )
  padding 0px
  display flex
  justify-content center
  align-items center

mat-icon
  margin-right 10px
  cursor pointer

.fill-remaining-space
  flex 1 1 auto 

.cdk-overlay-pane {
  max-width: 95% !important;
}