.container
  max-width: 800px
  margin 0 auto
  margin-top: 25px;
  margin-bottom: 25px
  display: grid;
  grid-template-columns: repeat(1,98%);
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  justify-content: center;
  .delivery-card
    &:hover
      opacity: 0.8;
    

    border-radius: 5px;
    padding: 20px;
    font-size: 150%;

.mat-card-content
  img
    width 100%
    margin 0 auto

.mat-card-footer
  text-align center
  button 
    margin 10px 5px !important

.marg
  margin 10px 5px !important

.mat-form-field
  margin 0px 5px
  width: 30%
  @media screen and (max-width:600px)
    width: 48%
    margin 1%